@import "fonts.css";

/*** CORE STYLES ***/

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

h1 {
    font-family: 'Crimson Text', serif;
}

body > * {
    padding: 1rem;
}


/*** BASIC LAYOUT ***/
body > * > * {
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
}

header {
    text-align: center;
    background: #87CEEB; /* Wikipedia Sky Blue */
}

main {
    background: #2cb037; /* https://rgb.to/color/8632/green-grass-green */
}

footer {
    background: #573B0C; /* https://www.colourlovers.com/color/573B0C/Dirt_Brown */
    color: white;
    text-align: center;
}


section {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

/*** HEADER ***/

/* todo */

/*** INTRODUCTION ***/

#intro {
    font-size: larger;
}


/*** ELDERS ***/
#elders {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.submission-head > img {
    width: 10rem;
    height: 10rem;
    border-radius: 10rem;
}

.submission-head > h3 {
}

.submission-head > p {
    text-align: left;
}


/*** DONATE ***/

#donate {
    font-size: larger;
}

#donate > button {
    float: right;
}


/*** SUBMISSIONS ***/
#submissions {
    display: grid;
    grid-template-columns: 3rem auto 3rem;
    column-gap: 1rem;
    row-gap: 0.5rem;
    align-items: center;
    justify-items: center;

    grid-template-areas:
        "prev text next"
        "add add add"
    ;
}

#submissions > * {
}

#submission-prev {
    grid-area: prev;
}

#submissions > .submission-full {
    grid-area: text;
}

#submission-next {
    grid-area: next;
}

#submission-add {
    grid-area: add;
}

#submission-prev, #submission-next {
    height: 2rem;
    width: 2rem;
}

.submission-full {
    background: white;
    border: thin black solid;
    display: grid;

    grid-template-areas:
        "headshot name"
        "body body"
    ;
    grid-template-columns: 4rem auto;
    grid-template-rows: 4rem auto;
    column-gap: 0.2rem;

    padding: 0.5rem;

    width: 30rem;
}

.submission-full > img {
    grid-area: headshot;
    width: 4rem;
    height: 4rem;
}

.submission-full > h3 {
    grid-area: name;
}

.submission-full > p {
    grid-area: body;
}

#submission-add {
    font-size: larger;
}

/*** SPONSORS ***/
#sponsors {
    text-align: center;
}
