{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Remembering Python 2</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href='{% static "style.css" %}'>
  </head>
  <body>
    <header>
      <h1>Remembering Python 2</h1>
      <img src='{% static "snake.png" %}'>
    </header>

    <main>
      <section id="intro">
        <p>something something python 2 nineteen years something impact something</p>
      </section>

      <section id="elders">
        {% for name in elders %}
        <div class="submission-head">
          <img src='{% static "filler/profile.jpg" %}'>
          <h3>{{name}}</h3>
          <p>{% lorem 1 %}</p>
        </div>
        {% endfor %}
      </section>

      <section id="donate">
        <button>Donate</button>
        <p>If you have benefited from Python, please consider a small donation to the PSF</p>
      </section>

      <section id="submissions">
        <button id="submission-prev">🢐</button>
        <div class="submission-full">
          <img src='{% static "filler/profile.jpg" %}'>
          <h3>Dan</h3>
          <p>{% lorem 1 %}</p>
        </div>
        <button id="submission-next">🢒</button>
        <button id="submission-add">Add your own</button>
      </section>

      <section id="sponsors">
        <p>We would like to thank the following sponsors</p>
      </section>
    </main>

    <footer>
      <p>Created by Jamie Bliss</p>
    </footer>
  </body>
</html>