{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Remembering Python 2</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href='{% static "style.css" %}'>
  </head>
  <body>
    <header>
      <h1>Remembering Python 2</h1>
      <img src='{% static "snake.png" %}'>
    </header>
    <main>
      <section id="intro">
        <p>something something python 2 nineteen years something impact something</p>
      </section>
      <section id="elders">
        {% for _ in elders %}
        <div class="submission-short">
          <img src='{% static "filler/profile.jpg" %}'>
          <h3>Alice</h3>
          <p>{% lorem 1 %}</p>
        </div>
        {% endfor %}
      </section>
    </main>
    <footer>
      <p>Created by Jamie Bliss</p>
    </footer>
  </body>
</html>